<h1>Home page</h1>
<p>A <b>Ruby on Rails app</b> using an <b>Oracle 12c database</b> hosted in Amazon Web Services to store data for Basketball players, teams, games, and player's statistics. Using <b>Google Charts</b> to display various charts for team wins/loses, player's statistics in games, etc. </p>
<p>Using <b>activerecord-oracle_enhanced-adapter</b> and <b>ruby-oci8</b> gem to connect to the Oracle database, paperclip for image upload, and bootstrap-sass.</p>
<p>Developed using <b>Git</b> for version control.</p>

<a>https://github.com/zmitzie/Rails-OracleDB</a>
